body {
    background-image: url("images/duck.gif");
    background-repeat: repeat;
    background-size: 100px;
}
#sexy {
    color: #F931FF;
    background-color: black;
    font-size: 15px;
}
.butt {
    text-align: center;
    width: 250px;
    height: 75px;
    display: flex;
    align-content: center;
}